@model HR.Models.HomeViewModel

<div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
    <div class="row">
        <div class="col-xs-12">
            @Html.Partial("Pagination/_pageSize")
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table wt-responsive-table class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                <thead>
                    <tr role="row">
                        <th ng-click="model.order('AbsenceId')" ng-class="model.orderClass('AbsenceId')">Absence Id</th>
                        <th ng-click="model.order('DateFrom')" ng-class="model.orderClass('DateFrom')">Date From</th>
                        <th ng-click="model.order('DateTo')" ng-class="model.orderClass('DateTo')">Date To</th>
                        <th ng-click="model.order('Forenames')" ng-class="model.orderClass('Forenames')">Forenames</th>
                        <th ng-click="model.order('Surname')" ng-class="model.orderClass('Surname')">Surname</th>
                        <th ng-click="model.order('AbsenceType')" ng-class="model.orderClass('AbsenceType')">Absence Type</th>

                        <th ng-click="model.order('NumberOfDays')" ng-class="model.orderClass('NumberOfDays')">Number Of Days</th>
                        <th ng-click="model.order('Conflicts')" ng-class="model.orderClass('Conflicts')">Conflicts</th>

                        <th ng-click="model.order('Description')" ng-class="model.orderClass('Description')">Description</th>
                        <th ng-click="model.order('ApprovalState')" ng-class="model.orderClass('ApprovalState')">Approval State</th>
                        <th ng-click="model.order('LevelNumber')" ng-class="model.orderClass('LevelNumber')">Level Number</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="absenceForApproval in model.absenceForApprovals" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled || model.editAbsence(absenceForApproval.PersonnelId, absenceForApproval.AbsenceId)" >
                        <td><span ng-bind="absenceForApproval.AbsenceId"></span></td>
                        <td><span ng-bind-template="{{ absenceForApproval.DateFrom | date:'dd MMMM yyyy'}}"></span></td>
                        <td><span ng-bind-template="{{ absenceForApproval.DateTo | date:'dd MMMM yyyy'}}"></span></td>
                        <td><span ng-bind="absenceForApproval.Forenames"></span></td>
                        <td><span ng-bind="absenceForApproval.Surname"></span></td>
                        <td><span ng-bind="absenceForApproval.AbsenceType"></span></td>

                        <td><span ng-bind="absenceForApproval.NumberOfDays"></span></td>
                        <td><span ng-bind="absenceForApproval.Conflicts"></span></td>

                        <td><span ng-bind="absenceForApproval.Description"></span></td>
                        <td><span ng-bind="absenceForApproval.ApprovalState"></span></td>
                        <td><span ng-bind="absenceForApproval.LevelNumber"></span></td>
                        <td>
                            <div class="btn-group pull-right">
                                <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true">
                                    <i class="fa fa-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a style="cursor: pointer;" ng-bootbox-confirm="Are you sure you want to approve this absence - {{absenceForApproval.Reason}}"
                                           ng-bootbox-confirm-action="model.approveAbsence(absenceForApproval)"
                                           ng-bootbox-confirm-action-cancel="" ng-click="$event.originalEvent.ngClickHandled = true;">
                                            Approve
                                        </a>
                                    </li>
                                    @if (Model.Permissions.IsAdmin)
                                    {
                                        <li>
                                            <a style="cursor: pointer;" ng-bootbox-confirm="Are you sure you want to cancel this absence - {{absenceForApproval.Reason}}"
                                               ng-bootbox-confirm-action="model.cancelAbsence(absenceForApproval.PersonnelId, absenceForApproval.AbsenceId)"
                                               ng-bootbox-confirm-action-cancel="" ng-click="$event.originalEvent.ngClickHandled = true;">
                                                Cancel
                                            </a>
                                        </li>
                                    }
                                    <li>
                                        <a style="cursor: pointer;" ng-bootbox-confirm="Are you sure you want to decline this absence - {{absenceForApproval.Reason}}"
                                           ng-bootbox-confirm-action="model.declineAbsence(absenceForApproval)"
                                           ng-bootbox-confirm-action-cancel="" ng-click="$event.originalEvent.ngClickHandled = true;">
                                            Decline
                                        </a>
                                    </li>
                                    <li class="Delete">
                                        <a style="cursor: pointer;" ng-href="/Absence/Edit/{{absenceForApproval.PersonnelId}}/{{absenceForApproval.AbsenceId}}">
                                            View Absence Request
                                        </a>
                                    </li>
                                    <li class="Delete">
                                        <a style="cursor: pointer;" ng-href="/Personnel/Profile/{{absenceForApproval.PersonnelId}}">
                                            View Profile
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @Html.Partial("Pagination/_pagination")
</div>