@using HR.Extensions
@{
    ViewBag.Title = "Overtimes";
}
<div class="" ng-controller="OvertimeTransactionController as model" ng-init="model.initialise()">
    <div class="page-title">
        <div class="title_left">
            <h3>Overtime <small></small></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    @Html.Partial("_Filter")
                    <div class="row">
                            <label class="control-label col-md-1 col-sm-1 col-xs-4">From</label>
                            <div class="col-md-3 col-sm-3 col-xs-12 begin">
                                <input class="form-control col-md-3 col-xs-8 date" type="text" ng-model="model.overtimeFilter.Begin">
                            </div>
                            <label class="control-label col-md-1 col-sm-1 col-xs-4">To</label>
                            <div class="col-md-3 col-sm-3 col-xs-12 begin">
                                <input class="form-control col-md-3 col-xs-8 date" type="text" ng-model="model.overtimeFilter.End">
                            </div>
                        <div class="form-group">
                            <div class="col-md-3 col-sm-4 col-xs-12 begin">
                                <button class="btn btn-success pull-right" ng-click="model.retrieveOvertimeTransactions()">Refresh</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div>
                            <label class="btn btn-info">
                                <input checked="checked" type="checkbox" value="true" ng-model="model.overtimeFilter.IsPaid">
                                Paid
                            </label>
                            <label class="btn btn-info">
                                <input checked="checked" type="checkbox" value="true" ng-model="model.overtimeFilter.IsToil">
                                TOIL
                            </label>

                            <div class="pull-right">
                                <label class="btn btn-info">
                                    <input checked="checked" type="checkbox" value="true"  ng-model="model.overtimeFilter.IsRequested">
                                    Unapproved
                                </label>
                                <label class="btn btn-info">
                                    <input checked="checked" type="checkbox" value="true"  ng-model="model.overtimeFilter.IsDeclined">
                                    Declined
                                </label>
                                <label class="btn btn-info">
                                    <input checked="checked" type="checkbox" value="true"  ng-model="model.overtimeFilter.IsApproved">
                                    Approved
                                </label>
                                <label class="btn btn-info">
                                    <input checked="checked" type="checkbox" value="true"  ng-model="model.overtimeFilter.IsInApproval">
                                    In Approval
                                </label>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Overtime transaction<small></small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Partial("Pagination/_pageSize")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table wt-responsive-table class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                    <thead>
                                        <tr role="row">
                                            <th ng-click="model.order('OvertimeId')" ng-class="model.orderClass('OvertimeId')">Overtime Id</th>
                                            <th ng-click="model.order('Personnel.Surname')" ng-class="model.orderClass('Personnel.Surname')">Surname</th>
                                            <th ng-click="model.order('Personnel.Forenames')" ng-class="model.orderClass('Personnel.Forenames')">Forenames</th>
                                            <th ng-click="model.order('OvertimePreference.Name')" ng-class="model.orderClass('OvertimePreference.Name')">Overtime Preference</th>
                                            <th ng-click="model.order('Date')" ng-class="model.orderClass('Date')">Date</th>
                                            <th ng-click="model.order('Hours')" ng-class="model.orderClass('Hours')">Hours</th>
                                            <th ng-click="model.order('Reason')" ng-class="model.orderClass('Reason')">Reason</th>
                                            <th ng-click="model.order('Comment')" ng-class="model.orderClass('Comment')">Comment</th>
                                            <th ng-click="model.order('ApprovalState.Name')" ng-class="model.orderClass('ApprovalState.Name')">Approval State</th>
                                            <th ng-click="model.order('CreatedBy')" ng-class="model.orderClass('CreatedBy')">Created By</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="overtimeTransaction in model.overtimeTransactions" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled">
                                            <td><span ng-bind="overtimeTransaction.OvertimeId"></span></td>
                                            <td><span ng-bind="overtimeTransaction.Personnel.Surname"></span></td>
                                            <td><span ng-bind="overtimeTransaction.Personnel.Forenames"></span></td>
                                            <td><span ng-bind="overtimeTransaction.OvertimePreference.Name"></span></td>
                                            <td><span ng-bind-template="{{ overtimeTransaction.Date | date:'dd MMMM yyyy'}}"></span></td>
                                            <td><span ng-bind="overtimeTransaction.Hours"></span></td>
                                            <td><span ng-bind="overtimeTransaction.Reason"></span></td>
                                            <td><span ng-bind="overtimeTransaction.Comment"></span></td>
                                            <td><span ng-bind="overtimeTransaction.ApprovalState.name"></span></td>
                                            <td><span ng-bind="overtimeTransaction.CreatedBy"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("Pagination/_pagination")
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="overtimeSummaryModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Adjust Overtime</h2>
                </div>
                <div class="modal-body">
                    <div class="form-group" ng-show="model.Errors.length > 0">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                <div class="validation-summary-errors row alert alert-error" data-valmsg-summary="false">
                                    <ul class="errors">
                                        <li ng-repeat="error in model.Errors"><span ng-bind="error"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Paid Hours</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="number" class="form-control col-md-7 col-xs-12 required" ng-model="model.overtimeSummary.PaidHours" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Paid TOIL</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="number" class="form-control col-md-7 col-xs-12 required" ng-model="model.overtimeSummary.TOILHours" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Comment</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea rows="4" cols="50" class="form-control col-md-7 col-xs-12 required"  ng-model="model.comment">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                        <div class="form-group">
                            <div class="pull-right col-md-7">
                                <div class="col-md-3">
                                    <button class="btn btn-success" ng-click="model.createOvertimeAdjustment()">Save</button>
                                </div>
                                <div class="pull-right col-md-6">
                                    <button type="button" id="btnCancel" class="btn btn-success" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        jQuery(function () {
            jQuery(".begin .date").daterangepicker({
                autoApply: true,
                singleDatePicker: true,
                showDropdowns: true,
                showCustomRangeLabel: false,
                opens: 'left',
                locale: {
                    format: 'DD MMMM YYYY'
                }
            });
        });
    </script>
}