@model HR.Models.AbsencePeriodViewModel
@{
    ViewBag.Title = "Create Absence Period";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Create new absence period<small></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                </div>
                            </div>
                        }
                        @Html.Partial("_AbsencePeriod", Model)
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <div class="form-group">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>

@section scripts {
    <script>
        jQuery(function () {
            jQuery(".begin .date").daterangepicker({
                autoApply: true,
                singleDatePicker: true,
                showDropdowns: true,
                showCustomRangeLabel: false,
                opens: 'left',
                locale: {
                    format: 'DD MMMM YYYY'
                }
            });
            ApplyEndDate('.begin .date');
        });

        function ApplyEndDate(selector) {
            jQuery(selector).on('apply.daterangepicker', function (ev, picker) {
                var endDateMoment = moment(jQuery(this).val());
                jQuery("#AbsencePeriod_EndDate").val(endDateMoment.add(1, 'years').add(-1, 'days').format("DD MMMM YYYY"));
            });
        }
    </script>
}